*{
    margin: 0;
    padding: 0;
}
/* font styles */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  border: none;
}



@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');



.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* text-colors */

.color-1{
    color: #252432;
}

.color-2{
    color: #8987A1;
}

.black{
    color: #000000;
}

/* shared styles */
.font-bold{
    font-weight: 700;
}


/* navbar section styles */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin:auto;
    margin-top: 30px;
}
.list-items{
    display: flex;
    padding-left: 0;
    gap: 48px;
    align-items: center;
}

.list-item{
    list-style: none;
}

.list-links{
    text-decoration: none;
}

/* banner section styles */

.banner{
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 226px;
    margin-bottom: 120px;
}
.banner > div{
    flex: 1;
}

.banner-title{
    font-size: 4rem;
}
.banner-description{
    font-size: 1.4rem;
    margin-top: 13px;
    color: rgba(0, 0, 0, 0.5);
}

.banner-img{
    display: block;
    width: 100%;
}

.h1-styles{
    color: #E95A08;
}

/* plant section styles */

.plant{
    max-width: 1140px;
    margin: auto;
    margin-bottom: 210px;
}

.plant-heading{
    text-align: center;
}
.plant-title{
    font-size: 3.125rem;
}
.plant-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
    margin: 16px 126px 49px 126px;
}
.plant-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.plant-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title{
    font-size: 1.5rem;
    font-weight: 500;
    color: #111111;
    margin-bottom: 2px;
    margin-top: 30px;
}
.card-price{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 30px;
}
.card-img{
    width: 100%;
}
.our{
    color: #E95A08;
}

input[type="button"]{
    font-weight: 600;
    color: #FFFFFF;
    align-self: stretch;
    padding: 19px 0px 19px 0px;
    background-color: #E95A08;
    border: none;
}

.card-imgs{
    border: 1px solid;
}

/* plant-lover section styles */

.plant-lover{
    position: relative;
    display: flex;
    max-width: 1140px;
    margin: auto;
    gap: 60px;
    align-items: center;
    margin-bottom: 135px;
}

.trusted-badge{
    position: absolute;
    max-width: 286px;
    max-height: 286px;
    left: 347px;
    top: -127px;
    filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.5));
}



.plant-lover > div{
    flex: 1;
}

.info-lists{
    padding-left: 50px;
}

.info-left img{
    display: block;
    width: 100%;
}

.info-title{
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.info-lists{
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
}
.info-lists > *{
    margin-bottom: 20px;
}

/* latest deals section styles */

.latest-deals{
    max-width: 1140px;
    margin: auto;
    margin-bottom: 120px;
}


.latest{
    color: #E95A08;
}
.ld-content{
    text-align: center;
}
.ld-main-title{
    font-size: 3.125rem;
    font-weight: 700;
}

.ld-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.3125rem;
    margin: 16px 240px 120px;
}

.ld-images{
    display: flex;
    gap: 25px;
    align-items: justify;
}

.ld-img-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ld-img-1{
    border-radius: 14px;
    background-image: url(../assets/deal-bloom.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 64px 48px;
    text-align: center;

}
.ld-img-2{
    border-radius: 14px;
    background-image: url(../assets/deal-ana.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 64px 48px;
    text-align: center;

}
.ld-img-3{
    border-radius: 14px;
    flex-grow: 1;
    background-image: url(../assets/deal-zabo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center; 
    padding: 145px 128px;
}

.ld-img-3 .ld-title{
    font-size: 2.5rem;
    font-weight: 700;
}
.ld-img-3 .ld-links{
    font-size: 1.5rem;
}

.ld-title{
    font-size: 1.25rem;
    color: white;
    font-weight: 700;
}

.ld-links{
    color:white;
    font-weight: 600;
}
/* join section styles */

.join{
    max-width: 1440px;
    margin: 0 auto;
    border: 1px solid;
    text-align: center;
    background-image: url(../assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


}

.join-title{
    margin-bottom: 23px;
    color: white;
    font-weight: 700;
    font-size: 3.125rem;
    margin-top: 193px;
}
.input-items{
    display: flex;
    justify-content: center;
    align-items: justify;
    margin-bottom: 199px;
    margin-left: 355px;
    margin-right: 355px;
}

input[type="email"]{
    flex: 1;
    padding-left: 20px;
    border: none;
    outline: none;
}

.join-btn{
    font-weight: 600;
    padding: 19px 53.5px;
    border: none;
    color: white;
    background-color: #E95A08;
}

/* footer section styles */
    .footer{
        max-width: 1440px;
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0.5);     
    }
    
    .footer-logo{
        margin-bottom: 16px;
    }
    

    .footer-description{
        font-size: 1.5rem;
        color: rgba(0, 0, 0, 0.5);
    }

    .footer-container{
        display: flex;
        justify-content: space-between;
        max-width: 1140px;
        margin: 0 auto;
        align-items: start;
        margin: 50px 160px;
        gap: 110.67px;
    }

    .footer-container > *{
        flex: 1;
    }   

    .footer-lists{
        padding-left: 0px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 100px;
        row-gap: 32px;
    }

    .footer-list{
        list-style: none;
        color: #6B7280;
    }

    .footer-links{
        display: flex;
        align-items: center;
        gap: 24px;
    }

    .footer-link{
        text-decoration: none;
    }


/* responsive section */

@media screen and (max-width:576px) {
    .list-item:nth-child(1), .list-item:nth-child(2), .list-item:nth-child(3){
        display: none;
    }

    .navbar{
        margin: auto 16px;
    }
    .nav-img{
        transform: scale(0.5) translate(-70px);
    }

    .banner{
        flex-direction: column-reverse;
        gap: 28px;
        margin-top: 28px;
        margin-bottom: 65px;
    }

    .banner-title{
        font-size: 1.5rem;
    }

    .banner-description{
        font-size: 0.875rem;
    }
    .banner-left{
        margin: auto 16px;
    }
    .plant-lover{
        gap: 18px;
    }
    .plant-cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .plant-title{
        font-size: 1.5rem;
    }
    .plant-description{
        font-size: 0.875rem;
        margin: 16px 16px 28px 16px;
    }
    .plant-cards{
        margin: auto 16px;
    }
    .card-title, .card-price{
        font-size: 1rem;
    }
    .card-title{
        margin-top: 30px;
    }
    .card-price{
        margin-bottom: 30px;
    }
    .trusted-badge{
        display: none;
    }
    .plant{
        margin-bottom: 42px;
    }
    .plant-lover{
        flex-direction: column;
        margin: auto 16px;
        margin-bottom: 143px;
    }

    .info-title{
        font-size: 1.5rem;
    }

    .join{
        margin-bottom: 0;
    }

    .info-lists > *{
    margin-bottom: 16px;
}
   
    .join-title{
        font-size: 1.25rem;
        margin-top: 110.5px;
    }

    .info-lists{
    font-size: 0.875rem;
    padding-left: 25px;
    }
    .join-btn{
        padding: 19px 12px;
    }

    .input-items{
        margin-bottom: 64.5px;
        margin-left: 36px;
        margin-right: 36px;
    }
    .footer-container{
        flex-direction: column;
        margin: 50px 14px 50px 20px;
        gap: 20px;
    }

    .footer-description{
        font-size: 1rem;
    }
    .footer-lists{
        grid-template-columns: 1fr;
    }

    .ld-images{
        flex-direction: column;
        margin: auto 16px;
        gap: 20px;
    }
    .ld-img-left{
        flex-direction: column;
        gap: 20px;
    }
    .ld-main-title{
        font-size: 1.5rem;
    }
    .ld-description{
        margin: 16px 28.5px 51.5px;
        font-size: 0.875rem;
    }

    .ld-img-3 .ld-title{
    font-size: 1.25rem;
}
    .ld-img-3 .ld-links{
    font-size: 1rem;
    }
    .ld-img-3{
        padding: 64px 48px;
    }
    .latest-deals{
        margin-bottom: 40.5px;
    }
}