*{
    margin: 0;
    padding: 0;
}
/* font styles */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}



@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');



.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* text-colors */

.color-1{
    color: #252432;
}

.color-2{
    color: #8987A1;
}

.black{
    color: #000000;
}

/* shared styles */
.font-bold{
    font-weight: 700;
}


/* navbar section styles */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin:auto;
    margin-top: 30px;
}
.list-items{
    display: flex;
    padding-left: 0;
    gap: 48px;
    align-items: center;
}

.list-item{
    list-style: none;
}

.list-links{
    text-decoration: none;
}

/* banner section styles */

.banner{
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 226px;
    margin-bottom: 120px;
}
.banner > div{
    flex: 1;
}

.banner-title{
    font-size: 4rem;
}
.banner-description{
    font-size: 1.4rem;
    margin-top: 13px;
    color: rgba(0, 0, 0, 0.5);
}

.banner-img{
    display: block;
    width: 100%;
}

.h1-styles{
    color: #E95A08;
}
/* responsive section */

@media screen and (max-width:576px) {
    .list-item:nth-child(1), .list-item:nth-child(2), .list-item:nth-child(3){
        display: none;
    }

    .navbar{
        margin: auto 16px;
    }
    .nav-img{
        transform: scale(0.5) translate(-70px);
    }

    .banner{
        flex-direction: column-reverse;
        gap: 28px;
        margin-top: 28px;
    }

    .banner-title{
        font-size: 1.5rem;
    }

    .banner-description{
        font-size: 0.875rem;
    }
    .banner-left{
        margin: auto 16px;
    }
}